
@{
    ViewBag.Title = "ThankYouPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>*@
@*<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>*@
<link href="~/css/thankyou_style.css" rel="stylesheet" />
<div class="container" style="padding: 80px 0px;">
    <header class="site-header" id="header">
        <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
    </header>

    <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.</p>
    </div>
    <a href="@Url.Action("Index", "Home")" class="btn btn-dark">BACK TO MAIN</a>
</div>
