@using CNPMNC_REPORT1.Models;
@using CNPMNC_REPORT1.Prototype.BinhLuanPrototype;

@model List<BinhLuan>
@{ var commentPrototype = new CommentConcrete(); }

<div class="comment-container">
    <div class="comments">

        <!-- Danh sách bình luận -->
        @foreach (var bl in Model)
        {
            var comment = commentPrototype.Clone();
            comment.TenTK = bl.TenTK;
            comment.NgayTao = bl.NgayTao;
            comment.GhiChu = bl.GhiChu;
            comment.MaPhim = bl.MaPhim;
            comment.MaBL = bl.MaBL;

<div>@Html.Raw(comment.Render())</div>}
    </div>
</div>

